html {
  font-size: 26px;
}

body {
  font-family: eskapade-fraktur, serif;
  font-style: normal;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  flex-basis: 33%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.panel {
  /* margin: 8px; */
  box-sizing: content-box;
  background: lightblue;
  outline-offset: -13px;
  outline: 4px solid black;
  padding: 30px;
  position: relative;
}

h1 {
  font-size: 3.2rem;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: normal;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

.leftPanel {
  flex-basis: 30%;
}

li::marker {
  content: "- ";
}

.rightPanel {
  flex-basis: 70%;
}

button,
a.button {
  border: 4px solid black;
  color: black;
  margin: 15px;
  background: none;
  padding: 8px 40px 18px 40px;
  font-size: 1.5rem;
  font-family: eskapade-fraktur, serif;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  background: white;
  font-weight: bold;
}

button:disabled,
a.button:disabled {
  border-color: grey;
  color: grey;
}
button:disabled:hover,
a.button:disabled:hover {
  cursor: auto;
}

.disabled-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.input-helper.error {
  color: red;
}

.intro {
  text-align: center;
  background: url("backgrounds/marble.jpg");
  background-size: 50%;
}

.intro .buttons {
  display: flex;
  justify-content: space-between;
}

.scores {
  background-image: url("backgrounds/paper.jpg");
  background-size: 50%;
}

.proposals {
  background-image: url("backgrounds/blackboard.jpg");
  background-size: 50%;
}

.rules {
  background-image: url("backgrounds/paper2.jpg");
  background-size: 50%;
}
