.container {
  display: flex;
}

.panel {
  /* border: 3px solid black; */
  margin: 10px;
  box-sizing: content-box;
  background: lightblue;
  /* box-shadow: 0px 0px 3px black inset; */
  outline-offset: -13px;
  outline: 4px solid black;
  padding: 30px;
  position: relative;
}

h1 {
  font-size: 60px;
}

h1,
h2 {
  text-align: center;
}

.join {
  text-align: center;
}

.leftPanel {
  width: 30%;
}

li::marker {
  content: "- ";
}

.rightPanel {
  width: 70%;
}

.rules {
  display: flex;
  justify-content: space-around;
}

.rules div {
  width: 50%;
}

.proposals {
}

button {
  border: 3px solid black;
  background: none;
  padding: 8px 39px;
  font-size: 25px;
  font-weight: bold;
}

button:disabled {
  border-color: grey;
}
button:disabled:hover {
  cursor: auto;
}

.disabled-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
