html {
  font-size: 20px;
}

body {
  font-family: eskapade-fraktur, serif;
  font-style: normal;
  font-weight: bold;
  font-feature-settings: var(--eskapade-fraktur-case),
    var(--eskapade-fraktur-dlig), var(--eskapade-fraktur-dnom),
    var(--eskapade-fraktur-frac), var(--eskapade-fraktur-lnum),
    var(--eskapade-fraktur-numr), var(--eskapade-fraktur-onum),
    var(--eskapade-fraktur-ordn), var(--eskapade-fraktur-pnum),
    var(--eskapade-fraktur-salt), var(--eskapade-fraktur-sinf),
    var(--eskapade-fraktur-ss01), var(--eskapade-fraktur-sups),
    var(--eskapade-fraktur-tnum);
  padding: 0px 10px 0px 10px;
  /* --eskapade-fraktur-salt: "salt" on; */
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

.main-container > div {
  width: 33%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.panel {
  box-sizing: content-box;
  /* outline-offset: -14px; */
  /* outline: 4px solid black; */
  border: 4px solid black;
  padding: 30px;
  margin: 14px;
}

h1,
h2 {
  font-family: "UnifrakturMaguntia", cursive;
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

.join-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

button,
.button,
a.button {
  border: 4px solid black;
  color: black;
  margin: 15px;
  background: none;
  padding: 8px 40px 18px 40px;
  font-family: eskapade-fraktur, serif;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover,
.button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1) !important;
}

button:disabled,
.button:disabled,
a.button:disabled {
  border-color: grey;
  color: grey;
}
button:disabled:hover,
.button:disabled:hover,
a.button:disabled:hover {
  cursor: auto;
}

.vote-actions {
  display: flex;
}

.vote-actions .button {
  padding: 20px;
  margin: 5px;
  width: 50%;
  background: black;
  color: white;
  outline: 4px solid white;
  outline-offset: -9px;
}
.vote-actions .button:first-of-type {
  margin-left: 0;
}
.vote-actions .button:last-of-type {
  margin-right: 0;
}

/* .disabled-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 30px; 
  color: white;
} */

.input-helper.error {
  color: red;
}

.intro {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
}

.intro > div {
  flex-basis: 33%;
}

.links {
  text-align: right;
}

.join > div {
  text-align: center;
}

.join {
  border-radius: 100%;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  border: 4px solid black;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.player-score {
  display: flex;
  justify-content: space-between;
}

.playerLetter {
  --eskapade-fraktur-salt: "salt" on;
}

.proposal-form {
  margin: 30px;
  text-align: center;
}

.proposal-form .select-box {
  width: 300px;
  display: inline-block;
  margin: 0 10px;
}

.player {
  margin-bottom: 10px;
}

.player-score-bar {
  background: black;
  height: 25px;
  margin-top: 5px;
}

input {
  height: 40px;
  /* font-size: 30px; */
  width: 80px;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 3px;
  margin: 0 10px;
}

.updated {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
