/* :root {
  --game-background: #f2f1e2;
  --game-foreground: white;
  --game-graphics-primary: black;
  --game-graphics-accent: white;
  --game-graphics-active: red;
  --game-border: 14px;
  --game-line-width: 4px;
  --game-icon-size: 140px;
} */

.header-container {
  display: flex;
}

.game-details-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--game-foreground);
  flex-grow: 1;
}

.game-timers-container {
  flex-basis: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-metadata {
  flex-basis: 18%;
}
/* 
.game-address {
  font-family: eskapade-fraktur, serif;
  font-weight: bold;
} */

.player-details-panel {
  background-color: var(--game-foreground);
  width: 10%;
}
