:root {
  --game-background: #f2f1e2;
  --game-foreground: white;
  --game-graphics-primary: black;
  --game-graphics-accent: white;
  --game-graphics-active: red;
  --game-border: 14px;
  --game-line-width: 4px;
  --game-icon-size: 140px;
}

.header-container {
  display: flex;
}

.game-details-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--game-foreground);
  flex-grow: 1;
}

.clock-container {
  flex-basis: 15%;
}

.game-metadata {
  flex-basis: 15%;
}

.player-details-panel {
  background-color: var(--game-foreground);
  width: 10%;
}
