.helper {
  position: relative;
  top: -2px;
  background: var(--game-graphics-primary);
  border-radius: 100%;
  color: var(--game-graphics-accent);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-right: -2px;
}

.helper::after {
  content: "?";
  font-size: "30px";
  font-family: sans-serif, cursive;
  text-align: center;
}

.rule-helper {
  background: var(--game-graphics-primary);
  padding: var(--game-border) 0;
}
