.payout-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: stretch;
}

.details {
  flex-grow: 1;
}

.player-name {
  text-align: center;
}

.payout-container > button {
  height: 500px;
}
