.proposal-counter-caption-container {
  display: flex;
  justify-content: space-between;
}

.proposal-counter {
  border: 4px solid black;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.inner {
  background: black;
  height: 100%;
}
