.statistic {
  margin-top: 24px;
}

.chart {
  margin-top: 8px;
  border: 4px solid black;
  height: 3px;
  position: relative;
}

.data {
  display: flex;
  justify-content: space-between;
}

.position {
  position: absolute;
  after: "X";
  font-size: 150%;
  top: -700%;
}
